@import "../style.scss";

.react-calendar {
  width: 300px;
  background-color: #0c0c0c;
  color: rgb(243, 243, 243);
  border: 0;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.125em;
}

.react-calendar__navigation button {
  color: rgb(243, 243, 243);
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #0c0c0d;
}
.react-calendar__navigation button[disabled] {
  background-color: #0b0b0b;
}
abbr[title] {
  text-decoration: none;
}
/* .react-calendar__month-view__days__day--weekend {
 color: #d10000;
} */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #060606;
  color: #000000;
  border-radius: 20px;
}
.react-calendar__tile--now {
  background: #00000033;
  border-radius: 20px;
  font-weight: bold;
  color: #000000;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #00000033;
  border-radius: 6px;
  font-weight: bold;
  color: #000000;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: white;
}
.react-calendar__tile--active {
  background: white;
  border-radius: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: white;
  color: rgb(0, 0, 0);
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #333333;
}
.react-calendar__tile--range {
  background: #000000;
  color: #000000;
  border-radius: 0px;
}
abbr {
  color: rgb(248, 245, 245);
}
.react-calendar__tile--rangeStart {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #000000;
  color: rgb(0, 0, 0);
}
.react-calendar__tile--rangeEnd {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #000000;
  color: rgb(0, 0, 0);
}
