@import "../style.scss";

.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 9vh;
  background-color: #fbfbfb;
  &__list {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  &__icons {
    width: 8vw;
    height: auto;
  }
  .small img {
    width: 5vw;
  }
}
