@import "../App.css";

.CityChoice {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Explications {
  margin-top: 15vh;
  padding-left: 10vw;
  padding-right: 10vw;
}

.ExplicationsQuestion, .Explication {
  font-family: var(--font);
  font-size: 4vw;
}

.ExplicationsQuestion {
  color: var(--blue);
  margin-bottom: 1vh;
}

.Explication {
  color: white;
}

.CityChoiceInput {
  margin-top: 10vh;
  font-family: var(--font);
}

.CityChoiceLocation {
  background-image: url("../assets/icons/location.png");
  background-size: contain;
  height: 7vw;
  width: 7vw;
  position: absolute;
  z-index: 5;
  top: 35vh;
  left: 80vw;
}

.CityChoice .btn {
  bottom: 15%;
}
