@import "../style.scss";
.home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("/src/assets/photo/heroPhoto.jpg");
  background-size: cover;
  background-position: 30%;
  .btn {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
  }
  &__title {
    position: relative;
    font-size: 4rem;
    text-transform: uppercase;
    color: $white;
    text-align: start;
    font-family: $font;
    font-weight: 800;
    padding: 1rem 5rem 0 1.5rem ;
  }
  &__logo {
    position: fixed;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    width: 51vw;
    height: auto;
  }
}
