@import "../App.css";

.SignUp * {
  color: white;
}

.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SignUpLogo {
  width: 51vw;
  margin-top: 7.5vh;
  margin-bottom: 6.5vh;
}

.SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.5vw;
  padding-left: 10vw;
  padding-right: 10vw;
  font-size: 4vw;
  font-family: var(--font);
  font-weight: 400;
}

.SignUpForm .btn {
  position: relative;
  width: 80vw;
}

.SignUpForm a {
  color: var(--blue);
}

.showPass {
  background-image: url("../assets/icons/view.png");
  background-size: contain;
}

.hidePass {
  background-image: url("../assets/icons/hide.png");
  background-size: contain;
}

#showConfirmPassword {
  height: 6vw;
  width: 6vw;
  position: absolute;
  bottom: 37vh;
  right: 10vw;
}

#showPassword {
  height: 6vw;
  width: 6vw;
  position: absolute;
  bottom: 43vh;
  right: 10vw;
}

.SignUpGoLogin {
  margin-top: 3vh;
  font-size: 3.25vw;
}

.SignUpErrorMessage {
  font-size: 3.25vw;
}
